<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

    <style>
        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
    <script>
      let socket = io();
    </script>
  </head>
  <body>
    <div id='cy'></div>
    <script>
      socket.on('genome', function (genome) {
        let nodes = genome.nodes;
        let edges = genome.edges;

        var cy = cytoscape({
          container: document.getElementById('cy'),
          style: [
            {
              selector: 'node',
              style: {
                'label': 'data(label)',
                'ghost': 'no'
              }
            },
            {
              selector: 'edge',
              style: {
                'label': 'data(label)',
                'curve-style': 'bezier',
                'target-arrow-shape': 'triangle'
              }
            }
          ],
          elements: {
            nodes: nodes,
            edges: edges
          }
        });
      });
    </script>
    <script>
      
    </script>
  </body>

</html>